body {
    background-color: #c2c3ca !important;
}

textarea:focus,
input:focus,
textarea:hover,
input:hover,
select:focus,
select:hover {
    outline: none;
}

select {
    cursor: pointer;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
}

.flightForm {
    display: grid;
    place-items: center;
    width: auto;
}

.forms {
    display: flex;
    justify-content: center;
    margin: 1vh 0;
}

.fa {
    color: rgb(107, 104, 104);
    padding-left: 4px;
}

.forms >div {
    background-color: white;
    border-radius: 2px;
    border-right: 1px solid black;
}

.formRows {
    border-radius: 2px;
    border: none;  
    padding: 10px;
    width: 200px;
}

.formRowsS {
    border-radius: 2px;
    border: none;
    padding: 10px 20px;
}

.btn {
    border-radius: 2px;
    background-color: #726f6f;
    border: 1px solid black;
    border-left: none;
    padding: 8px 20px;
    transition: 0.2s ease-in;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.btn:hover {
    background-color: rgb(23, 179, 106);
}

.bgPlane {
    position: absolute;
    z-index: 0;
    background-color: aliceblue;
    width: 100vw;
    height: 66vh;
    margin-left: -9px;
    margin-top: 20px;
    background-image: url("./images/plane_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(40%) blur(3px);
    filter: grayscale(40%) blur(3px);
}

.dataBlock {
    position: relative;
    display: grid;
    place-items: center;
    padding-top: 8.4vh;
    min-width: auto;
    z-index: 10;
}

.dataBlock>* {
    z-index: 10;
}

.flightData {
    width: 800px;
    height: 500px;
    background-color: #919297;
}

.flightData>* {
    animation: fadeIn .5s ease-in 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.top {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: white;
    background-color: #666569;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.flightNumber,
.status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    height: 100%;
}

.flightNumber>h1,
.statusData>h1,
.midData>h1 {
    line-height: 0px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -9px !important;
}

.status {
    width: 25%;
}

.mid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.mid>span {
    padding: 0 20px;
    font-size: 35px;
}

.midData {
    text-align: center;
}

.centerData {
    height: 78%;
    width: 100%;
}

.left,
.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.iata>h1 {
    line-height: 0px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -3px;
}

.iata {
    text-align: center;
    letter-spacing: 1.4px;
}

.left {
    float: left;
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
    float: left;
}

.departure {
    text-align: center;
    padding-top: 2px;
    background-color: #38373b;
    color: aliceblue;
    height: 25px;
    width: 100px;
    border-radius: 20px;
}

table {
    width: 100%;
}

th {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: rgb(217, 217, 218);
    text-align: center;
    height: 70px;
    width: 160px;
    background-color: #666569;
    border: 1px solid black;
}

.terminal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.terminal>div {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 25px;
    border: 3px solid #38373b;
    background-color: #38373b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tName,
.tNumber {
    height: 100%;
}

.tName {
    width: 70px;
}

.tNumber {
    color: black;
    background-color: #b4b6b9;
    width: 50px;
    text-align: center;
    border-radius: 2px;
}

.footer {
    background-color: #666569;
    border-top: 1px solid black;
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.dot {
    padding: 0 1rem;
}

.map {
    width: 800px;
    height: 500px;
    background-color: #666569;
    margin-top: 8.4vh;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.enterM {
    display: flex;
    animation: enter 1s ease;
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }
}

.showMap {
    background-color: #c2c3ca;
    border: none;
    border-radius: 40px;
    transition: .2s ease-in;
    margin-left: 140px;
    font-size: 20px;
    float: right;
}

.showMap:hover {
    background-color: #919297;
    cursor: pointer;
}

.map>* {
    margin: 10px 0;
}