body {
    background-color: rgb(26, 52, 141) !important;
}

textarea:focus,
input:focus,
textarea:hover,
input:hover,
select:focus,
select:hover {
    outline: none;
}

select {
    cursor: pointer;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
}

.flightForm {
    padding-top: 5vh;
    display: grid;
    place-items: center;
    width: auto;
}

.formRows {
    border-radius: 2px;
    border: none;
    border-right: 1px solid black;
    padding: 10px 38px;
}

.btn {
    border-radius: 2px;
    background-color: #4361ee;
    border: 1px solid black;
    padding: 10px 20px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(13, 72, 175);
}

.dataBlock {
    position: relative;
    display: grid;
    place-items: center;
    padding-top: 8.4vh;
    height: 50vh;
    min-width: auto;
}

.flightData {
    width: 800px;
    height: 500px;
    background-color: #4361ee;
}

.top {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgb(38, 24, 158);
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.flightNumber,
.status {
    padding-left: 10px;
    height: 100%;
}

.flightNumber>h1,
.statusData>h1,
.midData>h1 {
    line-height: 0px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -9px !important;
}

.status {
    padding-top: 10px;
    background-color: red;
    width: 25%;
}

.mid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.mid>span {
    padding: 0 20px;
    font-size: 35px;
}

.midData {
    text-align: center;
}

.centerData {
    height: 78%;
    width: 100%;
}

.left,
.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.iata >h1 {
    line-height: 0px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -3px;
}

.iata {
    text-align: center;
    letter-spacing: 1.4px;
}

.left {
    float: left;
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
    float: left;
}

.departure {
    text-align: center;
    padding-top: 2px;
    background-color: rgb(38, 24, 158);
    color: aliceblue;
    height: 25px;
    width: 100px;
    border-radius: 20px;
}

table {
    width: 100%;
}

th {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: rgb(217, 217, 218);
    text-align: center;
    height: 70px;
    width: 160px;
    background-color: rgb(38, 24, 158);
    border: 1px solid black;
}

.terminal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.terminal >div {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 25px;
    border: 3px solid #7393B3;
    background-color: #7393B3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tName, .tNumber {
    height: 100%;   
}

.tName {
    width: 70px;
}

.tNumber {
    background-color: #dadbdd;
    width: 50px;
    text-align: center;
    border-radius: 2px;
}

.footer {
    background-color: rgb(53, 38, 187);
    border-top: 1px solid black;
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}