body {
    background-color: #2a5b8a !important;
}

textarea:focus, input:focus, textarea:hover, input:hover{
    border: 1px solid black;
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

.flightForm {
    padding-top: 5vh;
    display: grid;
    place-items: center;
    width: auto;
}

.formRows {
    border: 1px solid black;
    padding: 10px;
}

.dataBlock {
    position: relative;
    display: grid;
    place-items: center;
    padding-top: 8.4vh;
    height: 50vh;
    min-width: auto;
}

.flightData {
    width: 800px;
    height: 500px;
    background-color: #4361ee;
}
